<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A collection of Flavor around you">
        <link rel="icon" href="./favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <!-- <script src="https://use.fontawesome.com/b070c8f1df.js"></script> -->
        <meta name="theme-color" content="#317EFB"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link rel="manifest" href="./app.webmanifest">
        
        <title>Flavor Quest</title>
    </head>
    <body>
        <a href="#mainContent" class="skip-link">Skip to Content</a>

        <!-- Header Section Start -->
        <header class="app-bar">
            <div class="app-bar__menu">
                <button aria-label="menu-drawer" id="hamburgerButton">☰</button>
            </div>
            <div class="app-bar__brand">
                <h1>Flavor Quest</h1>
            </div>
            <nav id="navigationDrawer" class="app-bar__navigation">
                <ul>
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/Like">Favorite</a></li>
                    <li><a href="https://www.linkedin.com/in/made-acarya-mordekhai-karang-75a052207/" target="_blank">About Us</a></li>
                </ul>
            </nav>
        </header>
        
        <!-- Header Section Start -->


        <!-- Jumbotron Start -->
        <div class="hero">
            <div class="hero__inner">
                <picture>
                    <source media="(min-width: 650px)" srcset="./images/hero-image_4-small.webp">
                    <source media="(min-width: 800px)" srcset="./images/hero-image_4-medium-small.webp">
                    <source media="(min-width: 850px)" srcset="./images/hero-image_4-medium.webp">
                    <source media="(min-width: 1200px)" srcset="./images/hero-image_4-medium-large.webp">
                    <source media="(min-width: 1600px)" srcset="./images/hero-image_4-large.webp">
                </picture>
                <h1 class="hero__title">Where Flavors Come to Life</h1>
                <p class="hero__tagline">
                    "Flavors that Make Memories"
                </p>
            </div>
        </div>
        <!-- Jumbotron End -->

        

        <main id="mainContent" tabindex="0"></main>

        <footer>
            <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/#/" target="_blank"
                rel="noreferrer">Dicoding Restaurant API</a></p>
        </footer>
    </body>
</html>